# Arquivos de compilação
target/
*.class

# Ambientes da IDE (VS Code / Eclipse / IntelliJ)
.classpath
.project
.settings/
.factorypath
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Logs e temporários
*.log
*.tmp